{% extends "layout.html" %}
{% block content %}

    <div style="width:40%;float:left;display:flex" >
        <img src = "/static/London.gif" width=100% height="600" align="center">
    </div>
<div style="width:60%;float:left;display:flex;left-padding:20px">

<td>
 <form method="post" action="borough">
     <input style="background-color:#212F3C;height:80px;width:24%;float:left;margin:5px;color:white" type="submit" name="borough" value ="Barking and Dagenham"/>
     <input style="background-color:#212F3C;height:80px;width:24%;float:left;margin:5px;color:white" type="submit" name="borough" value ="Bexley"/>
     <input style="background-color:#212F3C;height:80px;width:24%;float:left;margin:5px;color:white" type="submit" name="borough" value ="Brent"/>
     <input style="background-color:#212F3C;height:80px;width:24%;float:left;margin:5px;color:white" type="submit" name="borough" value ="Camden"/>
     <input style="background-color:#212F3C;height:80px;width:24%;float:left;margin:5px;color:white" type="submit" name="borough" value ="City of London"/>
     <input style="background-color:#212F3C;height:80px;width:24%;float:left;margin:5px;color:white" type="submit" name="borough" value ="Croydon"/>
     <input style="background-color:#212F3C;height:80px;width:24%;float:left;margin:5px;color:white" type="submit" name="borough" value ="Ealing"/>
     <input style="background-color:#212F3C;height:80px;width:24%;float:left;margin:5px;color:white" type="submit" name="borough" value ="Greenwich"/>
     <input style="background-color:#212F3C;height:80px;width:24%;float:left;margin:5px;color:white" type="submit" name="borough" value ="Harrow"/>
     <input style="background-color:#212F3C;height:80px;width:24%;float:left;margin:5px;color:white" type="submit" name="borough" value ="Havering"/>
     <input style="background-color:#212F3C;height:80px;width:24%;float:left;margin:5px;color:white" type="submit" name="borough" value ="Hillingdon"/>
     <input style="background-color:#212F3C;height:80px;width:24%;float:left;margin:5px;color:white" type="submit" name="borough" value ="Islington"/>
     <input style="background-color:#212F3C;height:80px;width:24%;float:left;margin:5px;color:white" type="submit" name="borough" value ="Kensington and Chelsea"/>
     <input style="background-color:#212F3C;height:80px;width:24%;float:left;margin:5px;color:white" type="submit" name="borough" value ="Kingston upon Thames"/>
     <input style="background-color:#212F3C;height:80px;width:24%;float:left;margin:5px;color:white" type="submit" name="borough" value ="Lambeth"/>
     <input style="background-color:#212F3C;height:80px;width:24%;float:left;margin:5px;color:white" type="submit" name="borough" value ="Lewisham"/>
     <input style="background-color:#212F3C;height:80px;width:24%;float:left;margin:5px;color:white" type="submit" name="borough" value ="Merton"/>
     <input style="background-color:#212F3C;height:80px;width:24%;float:left;margin:5px;color:white" type="submit" name="borough" value ="Newham"/>
     <input style="background-color:#212F3C;height:80px;width:24%;float:left;margin:5px;color:white" type="submit" name="borough" value ="Redbridge"/>
     <input style="background-color:#212F3C;height:80px;width:24%;float:left;margin:5px;color:white" type="submit" name="borough" value ="Richmond upon Thames"/>
     <input style="background-color:#212F3C;height:80px;width:24%;float:left;margin:5px;color:white" type="submit" name="borough" value ="Southwark"/>
     <input style="background-color:#212F3C;height:80px;width:24%;float:left;margin:5px;color:white" type="submit" name="borough" value ="Sutton"/>
     <input style="background-color:#212F3C;height:80px;width:24%;float:left;margin:5px;color:white" type="submit" name="borough" value ="Tower Hamlets"/>
     <input style="background-color:#212F3C;height:80px;width:24%;float:left;margin:5px;color:white" type="submit" name="borough" value ="Wandsworth"/>
     <input style="background-color:#212F3C;height:80px;width:24%;float:left;margin:5px;color:white" type="submit" name="borough" value ="Westminster"/>


 </form>
</td>

</div>

{% endblock %}
